body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

.orenge-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;


}

.half-width {
    width: 50%;
    padding-left: 6%;
    padding-top: 3%;
}

.half-width img {
    width: 50%;
    margin-left: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 3% 5%;
    border-radius: 50px;
    color: white;
    font-weight: 700;

}

#order-button {
    margin-top: 50px;
}

.about-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.recipies-section {
    text-align: center;
}

.food-details {
    width: 45%;
    box-shadow: 12px 12px 15px 10px rgb(168, 162, 162);
    margin: 30px;
    border-radius: 30px;
    padding: 3%;
}

.food-details img {
    width: 100%;
    border-radius: 30px;
}

.popularities-part {
    width: 30%;
    padding-left: 12%;
}

.sadow {
    box-shadow: 8px 8px 8px 8px rgb(184, 176, 176);
    padding: 3%;
    border-radius: 10px;
    margin: 3%;
}

footer {
    background-color: black;

}

#footer-design {
    color: gray;
    text-align: center;
    padding: 6%;
}